*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.container-bg{
    width: 100%;
    height: 100vh;
    background-image: url('/Ibrohimjon/assets/main-container.jpg');

}
header{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header-line{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffff;


}
.icon{
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    background-color: aliceblue;
    color: #000;


}
main{
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;

}
.main-container{
    width: 80%;
    height: 500px;
   

}
.main-container h1{
    margin: 30px 0;
    font-size: 60px;
}
.main-container p{
    width: 550px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.main-container a{
color: yellow;
text-decoration: underline;
font-weight: bold;
}
.section-0{
    display: flex;
    justify-content: flex-end;
   
}
.section-1{
    position: absolute;
    bottom: -90px;
    width: 90%;
    height: 190px;
    background-color: #ffff;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 15px 10px rgb(208, 206, 206);

}
.section-01{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.section-001{
    width: 80%;
    height: 50vh;  
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}
.main-section-word{
    width: 80%;
    height: 500px;
    position: relative;

}
.main-section-word h1{
    margin: 30px 0;
    font-size: 60px;
}
.main-section-word p{
    width: 550px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 25px;
}

.main-section-word a{
color: yellow;
text-decoration: underline;
font-weight: bold;
}
.ikkinchi-main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
    
}
.ikkinchi{

width: 350px;
height: 500px;
background-color: #ffff;
padding: 0px 10px;
line-height: 30px;
margin-bottom: 50px;
margin-right: 100px;

padding-top:0px;
box-shadow: 1px 15px 10px rgb(218, 215, 215) ;




}
.oila{
    width: 400px;
    height: 50px;
    display: flex;
}
.third-section{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.top-info{

    width: 100%;
    height: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items:center;
}
.for-h{
    font-size: 32px;
    font-weight: bold;
    color: rgb(58, 57, 57);
    
}
.for-p{
    width: 400px;
    color: rgb(119, 117, 117);
}

.middle-info{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 100px;
    
    
}
.left-img img{
    width: 555px;
    height: 460px;
    padding-left: 50px;
}

.right-word{
    line-height: 22px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(83, 81, 81);
}
.right-word h1{
    color: rgb(94, 91, 91);
    line-height: 70px;
    font-size: 50px;
    padding: 0 0 25px 0;
}
.right-word p{
    padding: 20px 0;
    color: rgb(116, 112, 112);
}
.right-word a{
    color: #4e4b4b;
    text-decoration: underline;
    font-weight: bold;
}
.add1{
    width: 450px;
    height: 225px;
    background-color: rgb(247, 249, 244);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    bottom: -85px;
    left: 250px;
    box-shadow:  15px 15px 50px rgb(199, 199, 196);
    z-index: 1;
    
}
.p-uchun p{
    padding: 0 15px;
    line-height: 30px;
    font-style: italic;
    color: rgb(162, 155, 155);

}
.img-uchun3 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    

}
.contact-uchun3{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 0 0 15px;

}
.fourth-section{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.middle-info4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 100px;
    padding-left: 150px;
    
    
    
}
.left-img4 img{
    width: 575px;
    height: 470px;
    padding-right: 50px;
}

.right-word4{
    line-height: 22px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(83, 81, 81);
}
.right-word4 h1{
    color: rgb(94, 91, 91);
    line-height: 70px;
    font-size: 50px;
    padding: 0 0 25px 0;
}
.right-word4 p{
    padding: 20px 0;
    color: rgb(116, 112, 112);
}
.right-word4 a{
    color: #4e4b4b;
    text-decoration: underline;
    font-weight: bold;
}
.add2{
 
    width: 450px;
    height: 225px;
    background-color: rgb(247, 249, 244);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    bottom: -85px;
    right: 230px;
    
    z-index: 1;
}
.p-uchun4 p{
    padding: 0 15px;
    line-height: 30px;
    font-style: italic;
    color: rgb(162, 155, 155);

}
.img-uchun4 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    

}
.contact-uchun4{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 0 0 15px;

}
.fifeth-section{
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}





.middle-info5{
    width: 80%;
    height: 120vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 100px;
    
    
}
.left-img5 img{
    width: 555px;
    height: 460px;
    padding-left: 50px;
}

.right-word5{
    line-height: 22px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(83, 81, 81);
}
.right-word5 h1{
    color: rgb(94, 91, 91);
    line-height: 70px;
    font-size: 50px;
    padding: 0 0 25px 0;
}
.right-word5 p{
    padding: 20px 0;
    color: rgb(116, 112, 112);
}
.right-word5 a{
    color: #4e4b4b;
    text-decoration: underline;
    font-weight: bold;
}
.add3{
    width: 450px;
    height: 225px;
    background-color: rgb(247, 249, 244);
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    bottom: -45px;
    left: 250px;
    box-shadow:  15px 15px 50px rgb(199, 199, 196);
    z-index: 1;
    
}
.p-uchun5 p{
    padding: 0 15px;
    line-height: 30px;
    font-style: italic;
    color: rgb(162, 155, 155);

}
.img-uchun5 img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    

}
.contact-uchun5{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: flex-start;
    padding: 0 0 0 15px;

}
.sixth-main{
    width: 100%;
    height: 100vh;
    background-color: rgb(228, 225, 223);
}
.sixth-main-container{
    width: 80%;
    height: 80vh;
    background-color: #fffffff5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    border-radius: 15px;
}

.sixth-main-header{
    font-size: 40px;
    line-height: 46px;
    color: #565454;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.boxes{
    width: 99%;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    gap: 50px;
    color: #4e4b4b;
    padding-left: 15px;
}
.boxes p,h2{
    padding: 10px 15px 50px 25px;
}
.boxes a{
color: #4e4b4b;
padding: 0 15px 0 25px;
}
.boxes a:hover{
    color: goldenrod;
}
.box1{
    width: 300px;
    height: 309px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(172, 172, 168);
    background-color: rgb(250, 247, 244);

}
.box1>a{
    padding-top: 20px;
}
.box2{
    width: 300px;
    height: 309px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(172, 172, 168);
    background-color: rgb(250, 247, 244);
}
.box3{
    width: 300px;
    height: 309px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(172, 172, 168);
    background-color: rgb(250, 247, 244);
}
.box3>a{
    padding-top: 24px;
}
.box4{
    width: 300px;
    height: 309px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px rgb(172, 172, 168);
    background-color: rgb(250, 247, 244);
}

    
